# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# native build folders
android/
ios/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS
.DS_Store

# Windows
Thumbs.db

# environment variables
.env
.env.*

# vscode
.vscode/*
!.vscode/extensions.json

# temporary files
*.tmp
*.temp

# Expo generated types
expo-env.d.ts